{% extends 'snippets/base.html' %}
{% block content %}
    {% include 'snippets/nav.html' %}
    <div class="container">

    
    <h1>This is Buy page.</h1>
    
    {% if object_list %}
    <table>
        <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Age
        </th>
        <th>
            Price
        </th>
        <th>
        </th>

    </tr>
        {% for obj in object_list %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ obj.property_name }}</td>
                <td>{{ obj.property_address }}</td>
                <td>{{ obj.property_age  }}</td>
                <td>{{ obj.property_price  }}</td>
                <td><a href="{% url 'property:detail' pk=obj.pk %}" class="btn btn-primary">View</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <h1>No Properties are present.</h1>
    {% endif %}
    </table>
</div>

{% endblock %}